@model adeliamara.Models.NotaDeVenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotaDeVenda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCancelamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCancelamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transportadora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transportadora.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDePagamento)
        </dt>
        <h4>Itens da Nota</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome do Item</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Itens)
                {
                    <tr>
                        <td>@item.Produto?.Nome</td>
                        <td>@item.Quantidade</td>
                        <td>@item.Preco</td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
